.color-previewer {
  padding: 1rem 1rem;
  text-align: center;
}

#icon-row {
  img {
    max-width: 50px;
  }
}

#icon-pack-row {
  margin-bottom: 2rem;
}

form {
  .col-sm-6 {
    margin-top: 3rem;
  }
}

.btn-row {
  margin-top: 3rem;
}
