<div class="row">
  <div class="col-xxl-12">
    <nb-card class="settings-form" accent="info">
      <nb-card-header>
        Application Settings
      </nb-card-header>
      <nb-card-body>
        <nb-tabset>
          <nb-tab tabTitle="Courier Settings">
            <!-- <ngx-theme-settings-form></ngx-theme-settings-form> -->
            <ngx-general-settings-form></ngx-general-settings-form>
          </nb-tab>
          <nb-tab tabTitle="Theme Settings">
            <ngx-theme-settings-form></ngx-theme-settings-form>
          </nb-tab>
          <nb-tab tabTitle="Shipping Rates">
            <ngx-rates-form></ngx-rates-form>
          </nb-tab>
          <nb-tab tabTitle="Mail SMTP">
            <ngx-mail-settings-form></ngx-mail-settings-form>
          </nb-tab>

        </nb-tabset>
      </nb-card-body>
    </nb-card>
    </div>
</div>
